body {
    margin: 0px;
}
canvas {
    display: block;
    margin: auto;
    width: calc(192px * 3);
    /*height: calc(256px * 3);*/
    image-rendering: pixelated;
}
textarea {
    display: block;
    margin: auto;
    width: calc(192px * 3);
    resize: vertical;
}